body{
    font-family: "Gill Sans";
    padding: 0;
    margin: 0;
}

.container{
    width: 98%;
    height: 2.5em;
    float: top;
    margin: 1%;
}

header a{
    text-decoration: none;
    color: black
}

h1 {
    float: top;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin-top: 0;
    text-align: center;
    font-family: Copperplate;
    color: #871A62;
}
h2{
    text-align: center;
    font-family: Copperplate;
}
#ringer-icon{
    width: 1em;
    padding-right: 0.2em;
}

#cup-logo{
    width: 1em;
    padding-right: 0.3em;
}

#cake-logo{
    width: 0.85em;
    padding-left: 0.2em;
}

.icons{
    width: 25px;
    padding: 5px;
    float: right;
}

.navbar {
    width: 100%;
    text-align: center;
    background-color: #FFA5CD;
    padding: 10px 0;
}

.navbar ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    color: white;
    font-size: larger;
    font-family: Copperplate;
    padding: 10px 20px;
}

.img-container{
    position: relative;
}

#quote-img{
    width: 97.5%;
    border-color: #828DDF;
    border-style: solid;
    border-width: 2px;
    margin: 1%;
}

#quote{
    font-size: larger;
    color: #828DDF;
    position: absolute;
    bottom: 50%;
    transform: translateY(-50%);
    left: 7%;
}

.category{
    width: 100%;
    position: relative;
}
.category-container{
    width: 30%;
    position: relative;
    display: inline-block;
    margin: 1.5%;
}
.item-category {
    width: 100%;
    border-radius: 0 5%;
    border-width: 0.15em;
    text-align: left;
}

.item-category-text{
    font-size: larger;
    font-weight: bold;
    font-family: Copperplate;
    text-transform: uppercase;
    color: #871A62;
    position: absolute;
    top: 7%;
    left: 7%;
}

.product-wrap {
    width: 25%;
    text-align: center;
    background: white;
    box-shadow:  0 0 15px 3px #E3DEDF;
    margin: 1% 4%;
    display: inline-block;
}
.product-img {
    position: relative;
}
.product-img a {
    display: block;
}
.product {
    display: block;
    width: 100%;
}
.wishlist-img{
    position: absolute;
    top: 1%;
    right: 1%;
    width: 12%;
}
.product-description {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Open Sans', serif;
}
.prev-price {
    font-size: medium;
    text-decoration: line-through;
}
.actual-price {
    font-weight: bold;
    font-size: medium;
    color: #ff7659;
}